$nav-text-color: #777;
$nav-border-color: #ccc; 

$font-size-title:55px;
$text-family: 'Share Tech Mono'; 
$title-family: 'Open Sans Condensed';


.navbar{
  font-size: 18px;
  font-family: $text-family;
  a{
    text-decoration: none;
    color: $nav-text-color;    
  }
  min-height: 50px;
  padding:0 13%;
  margin-top: -8px;
  line-height: 50px;

  .navbar-brand{ 
    a{
      margin: 20px;
    }
  }
  .navbar-list{
    margin: 0px;
    padding: 0 20px;
    border-right: solid 1px $nav-border-color; 
    border-left: solid 1px $nav-border-color;
    li{
      display: inline;
      padding: 0 15px;
    }
  }
  .navbar-btn{
    padding-left:20px; 
    a{
      padding: 5px 25px;
      border-radius: 5px;
      border: solid 1px $nav-border-color;
      background: #fff;
    }
  }
}

.header{
  background-image: url('/dist/images/hero_image.png');
  background-size: 100% 100%;
  text-align: center;
  .header-text{
    color: #fff;
  }
  .header-btn{
    button{
      margin: 0 10px;
      padding:10px 60px;
      color: #fff;
      font-family: $title-family;
      font-size: 24px;
      background-color: rgba(255,255,255,0.2);
      border-radius: 5px;
      border: solid 0.5px $nav-border-color; 
    }
  }
}

.mission{
  text-align: center;
  .mission-text{
    font-size: 26px;
    margin: 0 20%;
    margin-bottom: 40px;
  }
  .mission-btn{
    font-size: 18px;
    padding: 15px 80px;
    border:solid 1px #fecc6a;
    border-radius: 5px;
    background-color: #fecc6a;
  }
}

.title{
  font-size: $font-size-title;
  font-family: $title-family;
}

.row-line{
  margin: 0 -15px;
  padding: 180px 0;
}

.pull-left{
  float: left;
}